* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slideshow-container {
  width: 850px;
  height: 580px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: antiquewhite;
  border-radius: 24px;
  border: 20px solid rgb(134, 134, 134);
}

.single-slide {
  width: 100%;
}

.single-slide.visible {
  display: block;
}

img {
  width: 100%;
}

.button {
  padding: 2rem;
  width: fit-content;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 45%;
}

.back-btn {
  left: 0;
}

.next-btn {
  right: 0;
}
